@import "../../variables.css";
.header {
    width: 100%;
    min-height: 70px;
    display: flex;
    align-items: center;
    background-color: var(--lightGray);
}
.logo {
    composes: logo from '../../App.module.css';
    align-self: flex-start;
    cursor: pointer;
    height: 48px;
    margin-left: 15px;
    margin-top: 10px;
}